@import "../../assets/websitePalette.css";
@import "../../assets/fonts/stylesheet.css";

.textContainer {
    padding-top: 1.5rem !important;
}

.resourcesHeader, .resourcesSubheader {
    height: 0px !important;
    padding-bottom: 3.25rem !important;
}

.articleName {
    font-family: pragati_narrowregular, questrialregular !important;
    font-size: 18px !important;
}

.description {
    font-family: pragati_narrowregular, questrialregular !important;
    font-size: 16px !important;
}

.heading1, .heading2, .heading3 {
    font-family: pragati_narrowregular, questrialregular !important;
    font-size: 22px !important;
}