@import "../../assets/websitePalette.css";
@import "../../assets/fonts/stylesheet.css";

.textContainer {
    padding-top: 1.5rem !important;
}

.columnHeader {
    font-family: pragati_narrowregular, questrialregular !important;
    font-size: 25px !important;
}

/*.source {
    color: var(--accent-blue-dark);
}
.source:hover {
    color: var(--accent-blue-dark);
}*/